<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Импорт-библиотек-и-модулей" data-toc-modified-id="Импорт-библиотек-и-модулей-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Импорт библиотек и модулей</a></span></li><li><span><a href="#Обзор-данных" data-toc-modified-id="Обзор-данных-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Обзор данных</a></span><ul class="toc-item"><li><span><a href="#Импорт-данных" data-toc-modified-id="Импорт-данных-2.1"><span class="toc-item-num">2.1&nbsp;&nbsp;</span>Импорт данных</a></span></li><li><span><a href="#Исследование-таблица" data-toc-modified-id="Исследование-таблица-2.2"><span class="toc-item-num">2.2&nbsp;&nbsp;</span>Исследование таблица</a></span></li></ul></li><li><span><a href="#Исправление-кодировки-аэропортов-за-октябрь-2015" data-toc-modified-id="Исправление-кодировки-аэропортов-за-октябрь-2015-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>Исправление кодировки аэропортов за октябрь 2015</a></span><ul class="toc-item"><li><span><a href="#Наличие-кривых-кодов" data-toc-modified-id="Наличие-кривых-кодов-3.1"><span class="toc-item-num">3.1&nbsp;&nbsp;</span>Наличие кривых кодов</a></span></li><li><span><a href="#Импортируем-таблицу-соответствия-кодов" data-toc-modified-id="Импортируем-таблицу-соответствия-кодов-3.2"><span class="toc-item-num">3.2&nbsp;&nbsp;</span>Импортируем таблицу соответствия кодов</a></span></li><li><span><a href="#Исправляем-аэропорт-вылета" data-toc-modified-id="Исправляем-аэропорт-вылета-3.3"><span class="toc-item-num">3.3&nbsp;&nbsp;</span>Исправляем аэропорт вылета</a></span></li><li><span><a href="#Исправляем-аэропорт-прилета" data-toc-modified-id="Исправляем-аэропорт-прилета-3.4"><span class="toc-item-num">3.4&nbsp;&nbsp;</span>Исправляем аэропорт прилета</a></span></li><li><span><a href="#Сохраняем-исправления-в-файл" data-toc-modified-id="Сохраняем-исправления-в-файл-3.5"><span class="toc-item-num">3.5&nbsp;&nbsp;</span>Сохраняем исправления в файл</a></span></li></ul></li><li><span><a href="#Задание-1.-Найти-аэропорт-с-минимальной-задержкой-вылета" data-toc-modified-id="Задание-1.-Найти-аэропорт-с-минимальной-задержкой-вылета-4"><span class="toc-item-num">4&nbsp;&nbsp;</span>Задание 1. Найти аэропорт с минимальной задержкой вылета</a></span><ul class="toc-item"><li><span><a href="#Аэропорт-с-минимальным-временем-задержки" data-toc-modified-id="Аэропорт-с-минимальным-временем-задержки-4.1"><span class="toc-item-num">4.1&nbsp;&nbsp;</span>Аэропорт с минимальным временем задержки</a></span></li></ul></li><li><span><a href="#Задание-2.-Самая-пунктуальная-авиакомпания-на-прилет-в-Los-Angeles-International-Airport" data-toc-modified-id="Задание-2.-Самая-пунктуальная-авиакомпания-на-прилет-в-Los-Angeles-International-Airport-5"><span class="toc-item-num">5&nbsp;&nbsp;</span>Задание 2. Самая пунктуальная авиакомпания на прилет в Los Angeles International Airport</a></span></li><li><span><a href="#Задайти-аэропорт,-где-самолёты-проводят-больше-всего-времени-на-рулении-(среднее-значение)" data-toc-modified-id="Задайти-аэропорт,-где-самолёты-проводят-больше-всего-времени-на-рулении-(среднее-значение)-6"><span class="toc-item-num">6&nbsp;&nbsp;</span>Задайти аэропорт, где самолёты проводят больше всего времени на рулении (среднее значение)</a></span></li></ul></div>

# Импорт библиотек и модулей

In [1]:
import pandas as pd
import numpy as np

# Обзор данных

## Импорт данных

In [2]:
# авиакомпании
al_pd = pd.read_csv('airlines.csv') 
# аэропорты
ap_pd = pd.read_csv('airports.csv')

Проведем оптимизацию, используя методы из статей https://habr.com/ru/articles/468637/ , https://habr.com/ru/articles/467785/ и https://habr.com/ru/companies/ruvds/articles/442516/
— object в category;
— int64 в uint8;
— float64 в float32.

In [7]:
# полеты
# Проведем оптимизацию, используя методы из предыдущего поста и статьи:
# — object в category;
# — int64 в uint8;
# — float64 в float32.
# fl_pd = pd.read_csv('flights.csv',low_memory=False) 
fl_pd = pd.read_csv('flights.csv',low_memory=False,dtype ={
'YEAR':'uint8', 'MONTH':'uint8','DAY':'uint8','DAY_OF_WEEK':'uint8','AIRLINE':'category', 
'FLIGHT_NUMBER':'uint8','TAIL_NUMBER':'category','ORIGIN_AIRPORT':'category',
'DESTINATION_AIRPORT':'category','SCHEDULED_DEPARTURE':'uint8','DEPARTURE_TIME':'float32',
'DEPARTURE_DELAY':'float32','TAXI_OUT':'float32', 'WHEELS_OFF':'float32',
'SCHEDULED_TIME':'float32','ELAPSED_TIME':'float32', 'AIR_TIME':'float32', 'DISTANCE':'uint8',
'WHEELS_ON':'float32','TAXI_IN':'float32','SCHEDULED_ARRIVAL':'uint8','ARRIVAL_TIME':'float32',
'ARRIVAL_DELAY':'float32','DIVERTED':'uint8','CANCELLED':'uint8','CANCELLATION_REASON':'category',
'AIR_SYSTEM_DELAY':'float32','SECURITY_DELAY':'float32','AIRLINE_DELAY':'float32',
'LATE_AIRCRAFT_DELAY':'float32','WEATHER_DELAY':'float32'
})

In [8]:
print(fl_pd.info(memory_usage='deep'))

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5819079 entries, 0 to 5819078
Data columns (total 31 columns):
 #   Column               Dtype
---  ------               -----
 0   YEAR                 uint8
 1   MONTH                uint8
 2   DAY                  uint8
 3   DAY_OF_WEEK          uint8
 4   AIRLINE              category
 5   FLIGHT_NUMBER        uint8
 6   TAIL_NUMBER          category
 7   ORIGIN_AIRPORT       category
 8   DESTINATION_AIRPORT  category
 9   SCHEDULED_DEPARTURE  uint8
 10  DEPARTURE_TIME       float32
 11  DEPARTURE_DELAY      float32
 12  TAXI_OUT             float32
 13  WHEELS_OFF           float32
 14  SCHEDULED_TIME       float32
 15  ELAPSED_TIME         float32
 16  AIR_TIME             float32
 17  DISTANCE             uint8
 18  WHEELS_ON            float32
 19  TAXI_IN              float32
 20  SCHEDULED_ARRIVAL    uint8
 21  ARRIVAL_TIME         float32
 22  ARRIVAL_DELAY        float32
 23  DIVERTED             uint8
 24  CANCELLED            uint8
 25  CANCELLATION_REASON  category
 26  AIR_SYSTEM_DELAY     float32
 27  SECURITY_DELAY       float32
 28  AIRLINE_DELAY        float32
 29  LATE_AIRCRAFT_DELAY  float32
 30  WEATHER_DELAY        float32
dtypes: category(5), float32(16), uint8(10)
memory usage: 455.6 MB
None

## Исследование таблица

In [15]:
ap_pd.head()

,IATA_CODE,AIRPORT,CITY,STATE,COUNTRY,LATITUDE,LONGITUDE
0,ABE,Lehigh Valley International Airport,Allentown,PA,USA,40.65236,-75.44040
1,ABI,Abilene Regional Airport,Abilene,TX,USA,32.41132,-99.68190
2,ABQ,Albuquerque International Sunport,Albuquerque,NM,USA,35.04022,-106.60919
3,ABR,Aberdeen Regional Airport,Aberdeen,SD,USA,45.44906,-98.42183
4,ABY,Southwest Georgia Regional Airport,Albany,GA,USA,31.53552,-84.19447

In [16]:
fl_pd.head()

,YEAR,MONTH,DAY,DAY_OF_WEEK,AIRLINE,FLIGHT_NUMBER,TAIL_NUMBER,ORIGIN_AIRPORT,DESTINATION_AIRPORT,SCHEDULED_DEPARTURE,...,ARRIVAL_TIME,ARRIVAL_DELAY,DIVERTED,CANCELLED,CANCELLATION_REASON,AIR_SYSTEM_DELAY,SECURITY_DELAY,AIRLINE_DELAY,LATE_AIRCRAFT_DELAY,WEATHER_DELAY
0,223,1,1,4,AS,98,N407AS,ANC,SEA,5,...,408.0,-22.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
1,223,1,1,4,AA,32,N3KUAA,LAX,PBI,10,...,741.0,-9.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
2,223,1,1,4,US,72,N171US,SFO,CLT,20,...,811.0,5.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
3,223,1,1,4,AA,2,N3HYAA,LAX,MIA,20,...,756.0,-9.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
4,223,1,1,4,AS,135,N527AS,SEA,ANC,25,...,259.0,-21.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN

In [17]:
fl_pd.sample(3)

,YEAR,MONTH,DAY,DAY_OF_WEEK,AIRLINE,FLIGHT_NUMBER,TAIL_NUMBER,ORIGIN_AIRPORT,DESTINATION_AIRPORT,SCHEDULED_DEPARTURE,...,ARRIVAL_TIME,ARRIVAL_DELAY,DIVERTED,CANCELLED,CANCELLATION_REASON,AIR_SYSTEM_DELAY,SECURITY_DELAY,AIRLINE_DELAY,LATE_AIRCRAFT_DELAY,WEATHER_DELAY
5743017,223,12,27,7,EV,219,N15986,ORD,RDU,223,...,1031.0,-4.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
226109,223,1,15,4,OO,12,N105SY,SAT,SFO,14,...,1740.0,-12.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
2386753,223,6,1,1,HA,101,N483HA,ITO,HNL,109,...,703.0,-7.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN

In [18]:
fl_pd['ORIGIN_AIRPORT'].sample(60).unique()

['ORD', 'SEA', 'MCI', 'MAF', 'ATL', ..., 'DEN', 'SWF', '12954', 'HNL', 'RNO']
Length: 38
Categories (628, object): ['10135', '10136', '10140', '10141', ..., 'WYS', 'XNA', 'YAK', 'YUM']

In [19]:
fl_pd.shape

(5819079, 31)

In [14]:
fl_pd[(fl_pd['DEPARTURE_DELAY'].notna())].shape

(5732926, 31)

In [20]:
fl_pd[fl_pd['CANCELLED']==1].shape

(89884, 31)

In [21]:
fl_pd[(fl_pd['DEPARTURE_DELAY'].isna())].CANCELLED.describe()

count    86153.0
mean         1.0
std          0.0
min          1.0
25%          1.0
50%          1.0
75%          1.0
max          1.0
Name: CANCELLED, dtype: float64

In [22]:
ap_pd[ap_pd['STATE']=='HI']

,IATA_CODE,AIRPORT,CITY,STATE,COUNTRY,LATITUDE,LONGITUDE
141,HNL,Honolulu International Airport,Honolulu,HI,USA,21.31869,-157.92241
162,ITO,Hilo International Airport,Hilo,HI,USA,19.72026,-155.04847
170,KOA,Kona International Airport at Keahole,Kailua/Kona,HI,USA,19.73877,-156.04563
184,LIH,Lihue Airport,Lihue,HI,USA,21.97598,-159.33896
223,OGG,Kahului Airport,Kahului,HI,USA,20.89865,-156.43046

In [ ]:
# города где больше одного аэропорта
ap_pd.groupby(['CITY']).agg('count')[ap_pd.groupby(['CITY']).agg('count')['AIRPORT']!=1]

In [ ]:
# самые крайние по широте и долготе аэропорты в базе
ap_pd[(ap_pd['LONGITUDE'] == ap_pd['LONGITUDE'].min())|
      (ap_pd['LONGITUDE'] == ap_pd['LONGITUDE'].max())|
      (ap_pd['LATITUDE'] == ap_pd['LATITUDE'].min())|
      (ap_pd['LATITUDE'] == ap_pd['LATITUDE'].max())]

In [11]:
ap_pd[(ap_pd['IATA_CODE'] == 'ANC')|(ap_pd['IATA_CODE'] == 'SEA')]
# ap_pd.head()

,IATA_CODE,AIRPORT,CITY,STATE,COUNTRY,LATITUDE,LONGITUDE
17,ANC,Ted Stevens Anchorage International Airport,Anchorage,AK,USA,61.17432,-149.99619
277,SEA,Seattle-Tacoma International Airport,Seattle,WA,USA,47.44898,-122.30931

# Исправление кодировки аэропортов за октябрь 2015

## Наличие кривых кодов

In [23]:
# есть кривые кодировки
fl_pd['ORIGIN_AIRPORT'].sample(60).unique()

['MCI', 'DAL', 'LAX', 'CLT', 'BTR', ..., 'DAY', '12953', 'BOI', 'RDU', 'SBA']
Length: 41
Categories (628, object): ['10135', '10136', '10140', '10141', ..., 'WYS', 'XNA', 'YAK', 'YUM']

In [24]:
# вывод неслькольких только "плохих" кодов
fl_pd[~fl_pd['ORIGIN_AIRPORT'].str.contains('^[A-Z][A-Z][A-Z]$', regex=True, na=False)].ORIGIN_AIRPORT.sample(10).unique()

['13930', '11433', '14730', '10397', '12264', '12892', '12191']
Categories (628, object): ['10135', '10136', '10140', '10141', ..., 'WYS', 'XNA', 'YAK', 'YUM']

In [25]:
# вывод неслькольких только "плохих" кодов
fl_pd[~fl_pd['ORIGIN_AIRPORT'].str.contains('^[A-Z][A-Z][A-Z]$', regex=True, na=False)].ORIGIN_AIRPORT.nunique()

306

## Импортируем таблицу соответствия кодов

Два файла ниже взяты от сюда

5-digit codes: https://www.transtats.bts.gov/FieldInfo.asp?Field_Desc=Origin%20Airport%2C%20Airport%20ID.%20An%20identification%20number%20assigned%20by%20US%20DOT%20to%20identify%20a%20unique%20airport.%20%20Use%20this%20field%20for%20airport%20analysis%20across%20a%20range%20of%20years%20because%20an%20airport%20can%20change%20its%20airport%20code%20and%20airport%20codes%20can%20be%20reused.&Field_Type=Num&Lookup_Table=L_AIRPORT_ID&Table_ID=236&SYS_Table_Name=T_ONTIME&Sys_Field_Name=ORIGIN_AIRPORT_ID
3-letter codes: https://www.transtats.bts.gov/FieldInfo.asp?Field_Desc=Origin%20Airport&Field_Type=Char&Lookup_Table=L_AIRPORT&Table_ID=236&SYS_Table_Name=T_ONTIME&Sys_Field_Name=ORIGIN

In [27]:
d5_ap_df = pd.read_csv('L_AIRPORT_ID.csv')
c3_ap_df = pd.read_csv('L_AIRPORT.csv')

In [28]:
d5_ap_df.shape
d5_ap_df['Description'].nunique()

6395

In [29]:
c3_ap_df.shape
c3_ap_df['Description'].nunique()

6387

In [30]:
# Подтягиваем описания для аэропортов США из файла L_AIRPORT.csv
descr_ap_df = ap_pd.merge(c3_ap_df, how = 'inner', left_on = 'IATA_CODE', right_on='Code')
descr_ap_df.shape

(322, 9)

In [31]:
# Подтягиваем коды по полю Description из файла L_AIRPORT_ID.csv
cod_ap_df = descr_ap_df.merge(d5_ap_df, how = 'inner', on = 'Description')
cod_ap_df = cod_ap_df.drop(['AIRPORT','CITY','STATE','COUNTRY','LATITUDE','LONGITUDE','Description','Code_x'],axis = 1)
cod_ap_df['Code_s'] = cod_ap_df['Code_y'].apply(lambda x: str(x))
cod_ap_df.head()

  IATA_CODE  Code_y Code_s
0       ABE   10135  10135
1       ABI   10136  10136
2       ABQ   10140  10140
3       ABR   10141  10141
4       ABY   10146  10146

In [32]:
cod_ap_df[(cod_ap_df['Code_y']==14747)]

    IATA_CODE  Code_y Code_s
277       SEA   14747  14747

In [33]:
cod_ap_df[(cod_ap_df['IATA_CODE']=='YUM')]

    IATA_CODE  Code_y Code_s
321       YUM   13785  13785
322       YUM   16218  16218

In [34]:
filter_list = [13785]
fl_pd[(fl_pd['ORIGIN_AIRPORT'].isin(filter_list))|(fl_pd['DESTINATION_AIRPORT'].isin(filter_list))]

Empty DataFrame
Columns: [YEAR, MONTH, DAY, DAY_OF_WEEK, AIRLINE, FLIGHT_NUMBER, TAIL_NUMBER, ORIGIN_AIRPORT, DESTINATION_AIRPORT, SCHEDULED_DEPARTURE, DEPARTURE_TIME, DEPARTURE_DELAY, TAXI_OUT, WHEELS_OFF, SCHEDULED_TIME, ELAPSED_TIME, AIR_TIME, DISTANCE, WHEELS_ON, TAXI_IN, SCHEDULED_ARRIVAL, ARRIVAL_TIME, ARRIVAL_DELAY, DIVERTED, CANCELLED, CANCELLATION_REASON, AIR_SYSTEM_DELAY, SECURITY_DELAY, AIRLINE_DELAY, LATE_AIRCRAFT_DELAY, WEATHER_DELAY]
Index: []

[0 rows x 31 columns]

## Исправляем аэропорт вылета

In [35]:
# преобразуем все в значения в поле ORIGIN_AIRPORT в строку т.к. есть integer
fl_pd['ORIGIN_AIRPORT_s'] = fl_pd['ORIGIN_AIRPORT'].apply(lambda x: str(x))
# делаем левый join по ID аэропорта
flO_df = fl_pd.merge(cod_ap_df, how = 'left', left_on = 'ORIGIN_AIRPORT_s', right_on = 'Code_s')
# заполняем пустоты значениями из поля ORIGIN_AIRPORT
flO_df['ORIGIN_AIRPORT_'] = flO_df['IATA_CODE'].fillna(flO_df['ORIGIN_AIRPORT_s'])
flO_df = flO_df.drop(['ORIGIN_AIRPORT','ORIGIN_AIRPORT_s','Code_y','Code_s','IATA_CODE'],axis=1)
flO_df.shape

(5819079, 31)

In [36]:
flO_df['ORIGIN_AIRPORT_'].nunique()

322

In [37]:
flO_df.columns

Index(['YEAR', 'MONTH', 'DAY', 'DAY_OF_WEEK', 'AIRLINE', 'FLIGHT_NUMBER',
       'TAIL_NUMBER', 'DESTINATION_AIRPORT', 'SCHEDULED_DEPARTURE',
       'DEPARTURE_TIME', 'DEPARTURE_DELAY', 'TAXI_OUT', 'WHEELS_OFF',
       'SCHEDULED_TIME', 'ELAPSED_TIME', 'AIR_TIME', 'DISTANCE', 'WHEELS_ON',
       'TAXI_IN', 'SCHEDULED_ARRIVAL', 'ARRIVAL_TIME', 'ARRIVAL_DELAY',
       'DIVERTED', 'CANCELLED', 'CANCELLATION_REASON', 'AIR_SYSTEM_DELAY',
       'SECURITY_DELAY', 'AIRLINE_DELAY', 'LATE_AIRCRAFT_DELAY',
       'WEATHER_DELAY', 'ORIGIN_AIRPORT_'],
      dtype='object')

## Исправляем аэропорт прилета

In [38]:
# преобразуем все в значения в поле DESTINATION_AIRPORT в строку т.к. есть integer
flO_df['DESTINATION_AIRPORT_s'] = flO_df['DESTINATION_AIRPORT'].apply(lambda x: str(x))
# делаем левый join по ID аэропорта
fl_df = flO_df.merge(cod_ap_df, how = 'left', left_on = 'DESTINATION_AIRPORT_s', right_on = 'Code_s')
# заполняем пустоты значениями из поля DESTINATION_AIRPORT
fl_df['DESTINATION_AIRPORT_'] = fl_df['IATA_CODE'].fillna(fl_df['DESTINATION_AIRPORT_s'])
fl_df = fl_df.drop(['DESTINATION_AIRPORT','DESTINATION_AIRPORT_s','Code_y','Code_s','IATA_CODE'],axis=1)
fl_df.shape

(5819079, 31)

In [39]:
fl_df['DESTINATION_AIRPORT_'].nunique()

322

In [161]:
fl_df.columns

Index(['YEAR', 'MONTH', 'DAY', 'DAY_OF_WEEK', 'AIRLINE', 'FLIGHT_NUMBER',
       'TAIL_NUMBER', 'SCHEDULED_DEPARTURE', 'DEPARTURE_TIME',
       'DEPARTURE_DELAY', 'TAXI_OUT', 'WHEELS_OFF', 'SCHEDULED_TIME',
       'ELAPSED_TIME', 'AIR_TIME', 'DISTANCE', 'WHEELS_ON', 'TAXI_IN',
       'SCHEDULED_ARRIVAL', 'ARRIVAL_TIME', 'ARRIVAL_DELAY', 'DIVERTED',
       'CANCELLED', 'CANCELLATION_REASON', 'AIR_SYSTEM_DELAY',
       'SECURITY_DELAY', 'AIRLINE_DELAY', 'LATE_AIRCRAFT_DELAY',
       'WEATHER_DELAY', 'ORIGIN_AIRPORT_', 'DESTINATION_AIRPORT_'],
      dtype='object')

## Сохраняем исправления в файл

In [165]:
fl_df.to_csv(r'corrected_flights.csv')

# Задание 1. Найти аэропорт с минимальной задержкой вылета

In [40]:
fl_df.sample(15)

,YEAR,MONTH,DAY,DAY_OF_WEEK,AIRLINE,FLIGHT_NUMBER,TAIL_NUMBER,SCHEDULED_DEPARTURE,DEPARTURE_TIME,DEPARTURE_DELAY,...,DIVERTED,CANCELLED,CANCELLATION_REASON,AIR_SYSTEM_DELAY,SECURITY_DELAY,AIRLINE_DELAY,LATE_AIRCRAFT_DELAY,WEATHER_DELAY,ORIGIN_AIRPORT_,DESTINATION_AIRPORT_
4071708,223,9,10,4,AA,36,N3LAAA,58,1852.0,2.0,...,0,0,NaN,NaN,NaN,NaN,NaN,NaN,MIA,LAS
2938307,223,7,3,5,DL,178,N307DQ,159,2206.0,-1.0,...,0,0,NaN,NaN,NaN,NaN,NaN,NaN,ATL,LEX
2093688,223,5,13,3,EV,148,N840AS,195,1732.0,1.0,...,0,0,NaN,NaN,NaN,NaN,NaN,NaN,ATL,TYS
4142953,223,9,15,2,OO,18,N593ML,121,1351.0,-10.0,...,0,0,NaN,NaN,NaN,NaN,NaN,NaN,OTH,SFO
2529388,223,6,9,2,EV,100,N667GB,245,1523.0,-2.0,...,0,0,NaN,NaN,NaN,NaN,NaN,NaN,DFW,ACT
3806574,223,8,24,1,NK,164,N629NK,226,2014.0,-4.0,...,0,0,NaN,NaN,NaN,NaN,NaN,NaN,FLL,MCO
2621712,223,6,15,1,F9,0,N935FR,203,715.0,0.0,...,0,0,NaN,NaN,NaN,NaN,NaN,NaN,ATL,PHL
2870357,223,6,29,1,MQ,89,N646MQ,136,1948.0,20.0,...,0,0,NaN,0.0,0.0,0.0,17.0,0.0,DSM,ORD
5516457,223,12,12,6,DL,76,N825DN,106,1128.0,-2.0,...,0,0,NaN,NaN,NaN,NaN,NaN,NaN,SEA,MSP
2343443,223,5,29,5,AA,98,N861AA,162,1322.0,232.0,...,0,0,NaN,0.0,0.0,0.0,214.0,0.0,DFW,LAX
5065129,223,11,13,5,AA,39,N877AA,188,653.0,-7.0,...,0,0,NaN,NaN,NaN,NaN,NaN,NaN,SAN,DFW
1590874,223,4,12,7,US,72,N713UW,89,1655.0,30.0,...,0,0,NaN,0.0,0.0,28.0,0.0,0.0,CLT,PVD
5583129,223,12,16,3,AA,124,N679AW,18,1805.0,-5.0,...,0,0,NaN,NaN,NaN,NaN,NaN,NaN,PHX,LAS
5365563,223,12,2,3,UA,167,N78501,249,1530.0,1.0,...,0,0,NaN,NaN,NaN,NaN,NaN,NaN,EWR,SAN
417556,223,1,28,3,EV,10,N879AS,226,1311.0,21.0,...,0,0,NaN,NaN,NaN,NaN,NaN,NaN,DFW,MEI

In [45]:
# берем данные только по задержке рейса(не пустые) и аэропорт.
dd_fl_df = fl_df[(fl_df['DEPARTURE_DELAY'].notna())][['ORIGIN_AIRPORT_','DEPARTURE_DELAY']]

In [46]:
dd_fl_df.shape

(5732926, 2)

In [56]:
# считаем среднее время задержки по каждому аэропорту
mean_dd_fl_df = dd_fl_df.groupby(['ORIGIN_AIRPORT_']).mean().sort_values('DEPARTURE_DELAY')
mean_dd_fl_df
# mean_dd_fl_pd

                 DEPARTURE_DELAY
ORIGIN_AIRPORT_
YAK                    -6.070932
CNY                    -6.058537
EKO                    -3.933333
VEL                    -3.740000
CDV                    -3.454545
...                          ...
OTH                    18.969696
PPG                    20.844828
HYA                    23.182926
MVY                    24.685184
ILG                    29.391752

[322 rows x 1 columns]

## Аэропорт с минимальным временем задержки

In [75]:
# Аэропорт с минимальным временем задержки
ap_s = ap_pd[(ap_pd['IATA_CODE']==mean_dd_fl_df.index[0])].squeeze()
print(ap_s)
print(f'Среднее время задержки, мин: {mean_dd_fl_df.iloc[0].values}')

IATA_CODE                YAK
AIRPORT      Yakutat Airport
CITY                 Yakutat
STATE                     AK
COUNTRY                  USA
LATITUDE            59.50336
LONGITUDE         -139.66023
Name: 320, dtype: object
Среднее время задержки, мин: [-6.070932]

IATA_CODE                YAK
AIRPORT      Yakutat Airport
CITY                 Yakutat
STATE                     AK
COUNTRY                  USA
LATITUDE            59.50336
LONGITUDE         -139.66023
Name: 320, dtype: object

In [76]:
# смотрю аэропорты максичмальным и минимальным средним временем задержки
filter_list_a = ['YAK','ILG']
ap_pd[(ap_pd['IATA_CODE'].isin(filter_list_a))]

,IATA_CODE,AIRPORT,CITY,STATE,COUNTRY,LATITUDE,LONGITUDE
154,ILG,Wilmington Airport,Wilmington,DE,USA,39.67872,-75.60653
320,YAK,Yakutat Airport,Yakutat,AK,USA,59.50336,-139.66023

# Задание 2. Самая пунктуальная авиакомпания на прилет в Los Angeles International Airport

In [97]:
# код Los Angeles International Airport
ap_code = ap_pd[(ap_pd['AIRPORT']=='Los Angeles International Airport')].IATA_CODE.iloc[0]
ap_code

'LAX'

In [151]:
# берем только данные по нужному аэропорту и стобцы: авиакомпания, время задержки прилёта.
lax_fl_df = fl_df[(fl_df['DESTINATION_AIRPORT_']==ap_code)][['AIRLINE','ARRIVAL_DELAY']]
# убираем строки с отсутствующими значениями 
lax_fl_df = lax_fl_df[(lax_fl_df['ARRIVAL_DELAY'].notna())]
# lax_fl_df.shape
# время задержки берем по модулю, т.к. пунктуальность это прибытьие точно в срок без опозданий и раньше времени
lax_fl_df['ABS_ARRIVAL_DELAY'] = lax_fl_df['ARRIVAL_DELAY'].apply(lambda x: abs(x))
lax_fl_df.head()

    AIRLINE  ARRIVAL_DELAY  ABS_ARRIVAL_DELAY
101      OO            0.0                0.0
103      OO          -16.0               16.0
129      OO           56.0               56.0
156      UA            4.0                4.0
195      UA          -11.0               11.0

In [148]:
mean_lax_fd_df = lax_fl_df.groupby('AIRLINE').mean().sort_values('ABS_ARRIVAL_DELAY')
al_code=mean_lax_fd_df[(mean_lax_fd_df['ABS_ARRIVAL_DELAY']==mean_lax_fd_df['ABS_ARRIVAL_DELAY'].min())].index[0]
# type(al_code)
al_pd[(al_pd['IATA_CODE']==al_code)]

  IATA_CODE               AIRLINE
6        AS  Alaska Airlines Inc.

# Задание 3. Найти аэропорт, где самолёты проводят больше всего времени на рулении (среднее значение)

In [166]:
# "Время на руление" указано в двух столбцах. Это TAXI_OUT(руление перед вылетом,
# соотвественно аэропорт указан в ORIGIN_AIRPORT_) и TAXI_IN (руление после посадки,
# соответственно аэропорт в DESTINATION_AIRPORT_)
# taxi_out
taxi_out_fl_df = fl_df[['ORIGIN_AIRPORT_','TAXI_OUT']]
taxi_out_fl_df = taxi_out_fl_df.rename(columns={'ORIGIN_AIRPORT_':'AIRPORT','TAXI_OUT':'TAXI'})
# taxi_in
taxi_in_fl_df  = fl_df[['DESTINATION_AIRPORT_','TAXI_IN']]
taxi_in_fl_df = taxi_in_fl_df.rename(columns={'DESTINATION_AIRPORT_':'AIRPORT','TAXI_IN':'TAXI'})

(5819079, 4)

In [172]:
taxi_df = pd.concat([taxi_out_fl_df,taxi_in_fl_df])
taxi_df.shape

(11638158, 2)

In [178]:
# вычисляем среднее время руления по каждому аэропорту
avg_taxi_df = taxi_df.groupby('AIRPORT', dropna=True).mean().sort_values(by='TAXI')
avg_taxi_df

              TAXI
AIRPORT
CNY       4.626829
VEL       4.761905
ADQ       4.964516
BET       5.463452
DLG       5.584415
...            ...
CLT      14.645538
EWR      14.879636
ORD      16.365225
JFK      17.745089
LGA      17.788691

[322 rows x 1 columns]

In [181]:
# посмотрим аэропорты с минимальным и максимльными значениями
filter_ = ['CNY','LGA']
ap_pd[(ap_pd['IATA_CODE'].isin(filter_))]

,IATA_CODE,AIRPORT,CITY,STATE,COUNTRY,LATITUDE,LONGITUDE
70,CNY,Canyonlands Field,Moab,UT,USA,38.75496,-109.75484
182,LGA,LaGuardia Airport (Marine Air Terminal),New York,NY,USA,40.77724,-73.87261

In [187]:
# Находим аэропорт с максимальным средним значением времени затрачиваемого на руление
filter_s = avg_taxi_df[(avg_taxi_df['TAXI'] == avg_taxi_df['TAXI'].max())]
ap_pd[(ap_pd['IATA_CODE'].isin(filter_s.index))]

,IATA_CODE,AIRPORT,CITY,STATE,COUNTRY,LATITUDE,LONGITUDE
182,LGA,LaGuardia Airport (Marine Air Terminal),New York,NY,USA,40.77724,-73.87261