<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Импорт-библиотек-и-модулей" data-toc-modified-id="Импорт-библиотек-и-модулей-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Импорт библиотек и модулей</a></span></li><li><span><a href="#Обзор-данных" data-toc-modified-id="Обзор-данных-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Обзор данных</a></span><ul class="toc-item"><li><span><a href="#Импорт-данных" data-toc-modified-id="Импорт-данных-2.1"><span class="toc-item-num">2.1&nbsp;&nbsp;</span>Импорт данных</a></span></li><li><span><a href="#Исследование-таблица" data-toc-modified-id="Исследование-таблица-2.2"><span class="toc-item-num">2.2&nbsp;&nbsp;</span>Исследование таблица</a></span></li></ul></li><li><span><a href="#Исправление-кодировки-аэропортов-за-октябрь-2015" data-toc-modified-id="Исправление-кодировки-аэропортов-за-октябрь-2015-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>Исправление кодировки аэропортов за октябрь 2015</a></span><ul class="toc-item"><li><span><a href="#Наличие-кривых-кодов" data-toc-modified-id="Наличие-кривых-кодов-3.1"><span class="toc-item-num">3.1&nbsp;&nbsp;</span>Наличие кривых кодов</a></span></li><li><span><a href="#Импортируем-таблицу-соответствия-кодов" data-toc-modified-id="Импортируем-таблицу-соответствия-кодов-3.2"><span class="toc-item-num">3.2&nbsp;&nbsp;</span>Импортируем таблицу соответствия кодов</a></span></li><li><span><a href="#Исправляем-аэропорт-вылета" data-toc-modified-id="Исправляем-аэропорт-вылета-3.3"><span class="toc-item-num">3.3&nbsp;&nbsp;</span>Исправляем аэропорт вылета</a></span></li><li><span><a href="#Исправляем-аэропорт-прилета" data-toc-modified-id="Исправляем-аэропорт-прилета-3.4"><span class="toc-item-num">3.4&nbsp;&nbsp;</span>Исправляем аэропорт прилета</a></span></li><li><span><a href="#Сохраняем-исправления-в-файл" data-toc-modified-id="Сохраняем-исправления-в-файл-3.5"><span class="toc-item-num">3.5&nbsp;&nbsp;</span>Сохраняем исправления в файл</a></span></li></ul></li><li><span><a href="#Задание-1.-Найти-аэропорт-с-минимальной-задержкой-вылета" data-toc-modified-id="Задание-1.-Найти-аэропорт-с-минимальной-задержкой-вылета-4"><span class="toc-item-num">4&nbsp;&nbsp;</span>Задание 1. Найти аэропорт с минимальной задержкой вылета</a></span><ul class="toc-item"><li><span><a href="#Аэропорт-с-минимальным-временем-задержки" data-toc-modified-id="Аэропорт-с-минимальным-временем-задержки-4.1"><span class="toc-item-num">4.1&nbsp;&nbsp;</span>Аэропорт с минимальным временем задержки</a></span></li><li><span><a href="#Вывод-точки-координат-аэропорта-на-карту" data-toc-modified-id="Вывод-точки-координат-аэропорта-на-карту-4.2"><span class="toc-item-num">4.2&nbsp;&nbsp;</span>Вывод точки координат аэропорта на карту</a></span></li><li><span><a href="#Альтернативное-решение(берем-только-положительные-задержки,-отрицательные-значения-это-не-задержки)" data-toc-modified-id="Альтернативное-решение(берем-только-положительные-задержки,-отрицательные-значения-это-не-задержки)-4.3"><span class="toc-item-num">4.3&nbsp;&nbsp;</span>Альтернативное решение(берем только положительные задержки, отрицательные значения это не задержки)</a></span></li></ul></li><li><span><a href="#Задание-2.-Самая-пунктуальная-авиакомпания-на-прилет-в-Los-Angeles-International-Airport" data-toc-modified-id="Задание-2.-Самая-пунктуальная-авиакомпания-на-прилет-в-Los-Angeles-International-Airport-5"><span class="toc-item-num">5&nbsp;&nbsp;</span>Задание 2. Самая пунктуальная авиакомпания на прилет в Los Angeles International Airport</a></span></li><li><span><a href="#Задание-3.-Найти-аэропорт,-где-самолёты-проводят-больше-всего-времени-на-рулении-(среднее-значение)" data-toc-modified-id="Задание-3.-Найти-аэропорт,-где-самолёты-проводят-больше-всего-времени-на-рулении-(среднее-значение)-6"><span class="toc-item-num">6&nbsp;&nbsp;</span>Задание 3. Найти аэропорт, где самолёты проводят больше всего времени на рулении (среднее значение)</a></span></li><li><span><a href="#Модель-которая-будет-выбирать-топ-3-аэропорта-прилета-(вероятность-опоздания-минимальная-–-RMSE-метрика),--в-зависимости-от-аэропорта-вылета" data-toc-modified-id="Модель-которая-будет-выбирать-топ-3-аэропорта-прилета-(вероятность-опоздания-минимальная-–-RMSE-метрика),--в-зависимости-от-аэропорта-вылета-7"><span class="toc-item-num">7&nbsp;&nbsp;</span>Модель которая будет выбирать топ 3 аэропорта прилета (вероятность опоздания минимальная – RMSE метрика),  в зависимости от аэропорта вылета</a></span><ul class="toc-item"><li><span><a href="#смотрим-вероятность-опоздания-для-конкретного-аэропорта" data-toc-modified-id="смотрим-вероятность-опоздания-для-конкретного-аэропорта-7.1"><span class="toc-item-num">7.1&nbsp;&nbsp;</span>смотрим вероятность опоздания для конкретного аэропорта</a></span></li><li><span><a href="#Решение-простым-перебором" data-toc-modified-id="Решение-простым-перебором-7.2"><span class="toc-item-num">7.2&nbsp;&nbsp;</span>Решение простым перебором</a></span></li></ul></li></ul></div>

# Импорт библиотек и модулей

In [ ]:
#  установка библиотек для вывода карты
# !pip install ipyleaflet
# !pip install ipywidgets

In [1]:
import pandas as pd
import numpy as np
# импорт библиотек для вывода карты с координатами аэропортов
from ipywidgets import HTML
from ipyleaflet import Map, Marker, Popup

# Обзор данных

## Импорт данных

In [2]:
# авиакомпании
al_pd = pd.read_csv('airlines.csv') 
# аэропорты
ap_pd = pd.read_csv('airports.csv')

Проведем оптимизацию, используя методы из статей https://habr.com/ru/articles/468637/ , https://habr.com/ru/articles/467785/ и https://habr.com/ru/companies/ruvds/articles/442516/
— object в category;
— int64 в uint8;
— float64 в float32.

In [3]:
# полеты
# Проведем оптимизацию, используя методы из предыдущего поста и статьи:
# — object в category;
# — int64 в uint8;
# — float64 в float32.
fl_pd = pd.read_csv('flights.csv',low_memory=False) 
# fl_pd = pd.read_csv('flights.csv',low_memory=False,dtype ={
# 'YEAR':'uint8', 'MONTH':'uint8','DAY':'uint8','DAY_OF_WEEK':'uint8','AIRLINE':'category', 
# 'FLIGHT_NUMBER':'uint8','TAIL_NUMBER':'category','ORIGIN_AIRPORT':'category',
# 'DESTINATION_AIRPORT':'category','SCHEDULED_DEPARTURE':'uint8','DEPARTURE_TIME':'float32',
# 'DEPARTURE_DELAY':'float32','TAXI_OUT':'float32', 'WHEELS_OFF':'float32',
# 'SCHEDULED_TIME':'float32','ELAPSED_TIME':'float32', 'AIR_TIME':'float32', 'DISTANCE':'uint8',
# 'WHEELS_ON':'float32','TAXI_IN':'float32','SCHEDULED_ARRIVAL':'uint8','ARRIVAL_TIME':'float32',
# 'ARRIVAL_DELAY':'float32','DIVERTED':'uint8','CANCELLED':'uint8','CANCELLATION_REASON':'category',
# 'AIR_SYSTEM_DELAY':'float32','SECURITY_DELAY':'float32','AIRLINE_DELAY':'float32',
# 'LATE_AIRCRAFT_DELAY':'float32','WEATHER_DELAY':'float32'
# })

In [4]:
print(fl_pd.info(memory_usage='deep'))

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5819079 entries, 0 to 5819078
Data columns (total 31 columns):
 #   Column               Dtype
---  ------               -----
 0   YEAR                 int64
 1   MONTH                int64
 2   DAY                  int64
 3   DAY_OF_WEEK          int64
 4   AIRLINE              object
 5   FLIGHT_NUMBER        int64
 6   TAIL_NUMBER          object
 7   ORIGIN_AIRPORT       object
 8   DESTINATION_AIRPORT  object
 9   SCHEDULED_DEPARTURE  int64
 10  DEPARTURE_TIME       float64
 11  DEPARTURE_DELAY      float64
 12  TAXI_OUT             float64
 13  WHEELS_OFF           float64
 14  SCHEDULED_TIME       float64
 15  ELAPSED_TIME         float64
 16  AIR_TIME             float64
 17  DISTANCE             int64
 18  WHEELS_ON            float64
 19  TAXI_IN              float64
 20  SCHEDULED_ARRIVAL    int64
 21  ARRIVAL_TIME         float64
 22  ARRIVAL_DELAY        float64
 23  DIVERTED             int64
 24  CANCELLED            int64
 25  CANCELLATION_REASON  object
 26  AIR_SYSTEM_DELAY     float64
 27  SECURITY_DELAY       float64
 28  AIRLINE_DELAY        float64
 29  LATE_AIRCRAFT_DELAY  float64
 30  WEATHER_DELAY        float64
dtypes: float64(16), int64(10), object(5)
memory usage: 2.6 GB
None

In [5]:
fl_pd.sample(10)

,YEAR,MONTH,DAY,DAY_OF_WEEK,AIRLINE,FLIGHT_NUMBER,TAIL_NUMBER,ORIGIN_AIRPORT,DESTINATION_AIRPORT,SCHEDULED_DEPARTURE,...,ARRIVAL_TIME,ARRIVAL_DELAY,DIVERTED,CANCELLED,CANCELLATION_REASON,AIR_SYSTEM_DELAY,SECURITY_DELAY,AIRLINE_DELAY,LATE_AIRCRAFT_DELAY,WEATHER_DELAY
4961677,2015,11,6,5,WN,596,N7726A,OAK,HOU,1350,...,1931.0,1.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
342677,2015,1,23,5,MQ,3065,N684MQ,GSO,DFW,1146,...,1350.0,-10.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
462045,2015,1,31,6,DL,1380,N899AT,ATL,HSV,1025,...,1007.0,-16.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
2417976,2015,6,2,2,OO,5260,N713SK,SFO,SNA,2025,...,2151.0,-7.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
5776693,2015,12,29,2,OO,3466,N225AG,PDX,TUS,825,...,1216.0,6.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
4145893,2015,9,15,2,AS,124,N523AS,FAI,SEA,1710,...,2150.0,-4.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
4230110,2015,9,21,1,EV,4677,N12552,TUL,IAH,755,...,927.0,-7.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
3197996,2015,7,19,7,DL,2143,N320NB,MSP,PIT,1514,...,1805.0,-6.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
1113097,2015,3,14,6,AA,1642,N3AGAA,DFW,EWR,800,...,1207.0,5.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
1115021,2015,3,14,6,OO,4990,N785SK,DEN,CVG,1000,...,1525.0,46.0,0,0,NaN,46.0,0.0,0.0,0.0,0.0

## Исследование таблица

In [6]:
ap_pd.head()

,IATA_CODE,AIRPORT,CITY,STATE,COUNTRY,LATITUDE,LONGITUDE
0,ABE,Lehigh Valley International Airport,Allentown,PA,USA,40.65236,-75.44040
1,ABI,Abilene Regional Airport,Abilene,TX,USA,32.41132,-99.68190
2,ABQ,Albuquerque International Sunport,Albuquerque,NM,USA,35.04022,-106.60919
3,ABR,Aberdeen Regional Airport,Aberdeen,SD,USA,45.44906,-98.42183
4,ABY,Southwest Georgia Regional Airport,Albany,GA,USA,31.53552,-84.19447

In [7]:
fl_pd[['DEPARTURE_DELAY','TAXI_OUT', 'TAXI_IN','ARRIVAL_DELAY']].head()

   DEPARTURE_DELAY  TAXI_OUT  TAXI_IN  ARRIVAL_DELAY
0            -11.0      21.0      4.0          -22.0
1             -8.0      12.0      4.0           -9.0
2             -2.0      16.0     11.0            5.0
3             -5.0      15.0      8.0           -9.0
4             -1.0      11.0      5.0          -21.0

In [8]:
fl_pd.sample(3)

,YEAR,MONTH,DAY,DAY_OF_WEEK,AIRLINE,FLIGHT_NUMBER,TAIL_NUMBER,ORIGIN_AIRPORT,DESTINATION_AIRPORT,SCHEDULED_DEPARTURE,...,ARRIVAL_TIME,ARRIVAL_DELAY,DIVERTED,CANCELLED,CANCELLATION_REASON,AIR_SYSTEM_DELAY,SECURITY_DELAY,AIRLINE_DELAY,LATE_AIRCRAFT_DELAY,WEATHER_DELAY
679322,2015,2,14,6,AA,1213,N859AA,MCO,DFW,1842,...,2023.0,-17.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
5108484,2015,11,15,7,AS,127,N618AS,SEA,FAI,2320,...,225.0,12.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
5112119,2015,11,16,1,OO,4537,N817SK,GEG,LAX,843,...,1105.0,-25.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
fl_pd['ORIGIN_AIRPORT'].sample(60).unique()

array(['RSW', 'GSO', 'MIA', 'FLL', 'DFW', 'SGF', 'SAN', 'PHX', 'IAD',
       'PHL', 'SLC', 'CLT', 'DEN', 'STX', 'DTW', 'DAL', 'AUS', 'RDU',
       'SDF', 'MSY', 'JFK', '12892', 'ATL', 'IAH', 'BOS', 'GRR', 'CVG',
       'LAX', 'SEA', 'BQK', 'SFO', 'SHV', 'OAK', 'STL', 'OGG', 'PBI',
       'MCO', 'TPA', 'LAS', 'ABE', 'TRI', 'LGA', 'HNL'], dtype=object)

In [10]:
fl_pd.shape

(5819079, 31)

In [11]:
fl_pd[(fl_pd['DEPARTURE_DELAY'].notna())].shape

(5732926, 31)

In [12]:
fl_pd[fl_pd['CANCELLED']==1].shape

(89884, 31)

In [13]:
fl_pd[(fl_pd['DEPARTURE_DELAY'].isna())].CANCELLED.describe()

count    86153.0
mean         1.0
std          0.0
min          1.0
25%          1.0
50%          1.0
75%          1.0
max          1.0
Name: CANCELLED, dtype: float64

In [14]:
ap_pd[ap_pd['STATE']=='HI']

,IATA_CODE,AIRPORT,CITY,STATE,COUNTRY,LATITUDE,LONGITUDE
141,HNL,Honolulu International Airport,Honolulu,HI,USA,21.31869,-157.92241
162,ITO,Hilo International Airport,Hilo,HI,USA,19.72026,-155.04847
170,KOA,Kona International Airport at Keahole,Kailua/Kona,HI,USA,19.73877,-156.04563
184,LIH,Lihue Airport,Lihue,HI,USA,21.97598,-159.33896
223,OGG,Kahului Airport,Kahului,HI,USA,20.89865,-156.43046

In [15]:
# города где больше одного аэропорта
ap_pd.groupby(['CITY']).agg('count')[ap_pd.groupby(['CITY']).agg('count')['AIRPORT']!=1]

              IATA_CODE  AIRPORT  STATE  COUNTRY  LATITUDE  LONGITUDE
CITY
Albany                2        2      2        2         2          2
Charleston            2        2      2        2         2          2
Chicago               2        2      2        2         2          2
Columbia              2        2      2        2         2          2
Columbus              2        2      2        2         2          2
Houston               2        2      2        2         2          2
Jackson               2        2      2        2         2          2
Jacksonville          2        2      2        2         2          2
New York              2        2      2        2         2          2
Portland              2        2      2        2         2          2
Rochester             2        2      2        2         2          2
San Diego             2        2      2        2         2          2
Springfield           2        2      2        2         2          2
Wilmington            2        2      2        2         2          2

In [16]:
# самые крайние по широте и долготе аэропорты в базе
ap_pd[(ap_pd['LONGITUDE'] == ap_pd['LONGITUDE'].min())|
      (ap_pd['LONGITUDE'] == ap_pd['LONGITUDE'].max())|
      (ap_pd['LATITUDE'] == ap_pd['LATITUDE'].min())|
      (ap_pd['LATITUDE'] == ap_pd['LATITUDE'].max())]

,IATA_CODE,AIRPORT,CITY,STATE,COUNTRY,LATITUDE,LONGITUDE
9,ADK,Adak Airport,Adak,AK,USA,51.87796,-176.64603
45,BRW,Wiley Post-Will Rogers Memorial Airport,Barrow,AK,USA,71.28545,-156.76600
137,GUM,Guam International Airport,Agana,GU,USA,13.48345,-144.79598
296,STX,Henry E. Rohlsen Airport,Christiansted,VI,USA,17.70189,-64.79856

In [17]:
ap_pd[(ap_pd['IATA_CODE'] == 'ANC')|(ap_pd['IATA_CODE'] == 'SEA')]
# ap_pd.head()

,IATA_CODE,AIRPORT,CITY,STATE,COUNTRY,LATITUDE,LONGITUDE
17,ANC,Ted Stevens Anchorage International Airport,Anchorage,AK,USA,61.17432,-149.99619
277,SEA,Seattle-Tacoma International Airport,Seattle,WA,USA,47.44898,-122.30931

# Исправление кодировки аэропортов за октябрь 2015

## Наличие кривых кодов

In [17]:
# есть кривые кодировки
fl_pd['ORIGIN_AIRPORT'].sample(60).unique()

array(['DFW', 'SAN', 'SMF', 'ORD', 'MSP', 'CHO', 'ATL', 'LGA', 'CLT',
       'SEA', 'KOA', 'CMH', 'SFO', 'MKE', 'SNA', 'PDX', 'STL', '14771',
       'PHX', 'RSW', '15016', 'OAK', 'LAX', 'DEN', '11298', 'SAV', 'JAX',
       'MCI', 'BNA', 'MDW', 'HRL', 'MHK', 'PHL', 'IAH', 'OMA', 'MLI',
       'DCA'], dtype=object)

In [18]:
# вывод неслькольких только "плохих" кодов
fl_pd[~fl_pd['ORIGIN_AIRPORT'].str.contains('^[A-Z][A-Z][A-Z]$', regex=True, na=False)].ORIGIN_AIRPORT.sample(10).unique()

array(['10397', '15016', '13204', '14747', '12266', '10792', '12953',
       '13796', '13930'], dtype=object)

In [19]:
# вывод уникальных "плохих" кодов
fl_pd[~fl_pd['ORIGIN_AIRPORT'].str.contains('^[A-Z][A-Z][A-Z]$', regex=True, na=False)].ORIGIN_AIRPORT.nunique()

306

## Импортируем таблицу соответствия кодов

Два файла ниже взяты от сюда

5-digit codes: https://www.transtats.bts.gov/FieldInfo.asp?Field_Desc=Origin%20Airport%2C%20Airport%20ID.%20An%20identification%20number%20assigned%20by%20US%20DOT%20to%20identify%20a%20unique%20airport.%20%20Use%20this%20field%20for%20airport%20analysis%20across%20a%20range%20of%20years%20because%20an%20airport%20can%20change%20its%20airport%20code%20and%20airport%20codes%20can%20be%20reused.&Field_Type=Num&Lookup_Table=L_AIRPORT_ID&Table_ID=236&SYS_Table_Name=T_ONTIME&Sys_Field_Name=ORIGIN_AIRPORT_ID
3-letter codes: https://www.transtats.bts.gov/FieldInfo.asp?Field_Desc=Origin%20Airport&Field_Type=Char&Lookup_Table=L_AIRPORT&Table_ID=236&SYS_Table_Name=T_ONTIME&Sys_Field_Name=ORIGIN

In [20]:
d5_ap_df = pd.read_csv('L_AIRPORT_ID.csv')
c3_ap_df = pd.read_csv('L_AIRPORT.csv')

In [21]:
d5_ap_df.shape
d5_ap_df['Description'].nunique()

6395

In [22]:
c3_ap_df.shape
c3_ap_df['Description'].nunique()

6387

In [23]:
# Подтягиваем описания для аэропортов США из файла L_AIRPORT.csv
descr_ap_df = ap_pd.merge(c3_ap_df, how = 'inner', left_on = 'IATA_CODE', right_on='Code')
descr_ap_df.shape

(322, 9)

In [24]:
# Подтягиваем коды по полю Description из файла L_AIRPORT_ID.csv
cod_ap_df = descr_ap_df.merge(d5_ap_df, how = 'inner', on = 'Description')
cod_ap_df = cod_ap_df.drop(['AIRPORT','CITY','STATE','COUNTRY','LATITUDE','LONGITUDE','Description','Code_x'],axis = 1)
cod_ap_df['Code_s'] = cod_ap_df['Code_y'].apply(lambda x: str(x))
cod_ap_df.head()

  IATA_CODE  Code_y Code_s
0       ABE   10135  10135
1       ABI   10136  10136
2       ABQ   10140  10140
3       ABR   10141  10141
4       ABY   10146  10146

In [25]:
cod_ap_df[(cod_ap_df['Code_y']==14747)]

    IATA_CODE  Code_y Code_s
277       SEA   14747  14747

In [26]:
cod_ap_df[(cod_ap_df['IATA_CODE']=='YUM')]

    IATA_CODE  Code_y Code_s
321       YUM   13785  13785
322       YUM   16218  16218

In [27]:
filter_list = [13785]
fl_pd[(fl_pd['ORIGIN_AIRPORT'].isin(filter_list))|(fl_pd['DESTINATION_AIRPORT'].isin(filter_list))]

Empty DataFrame
Columns: [YEAR, MONTH, DAY, DAY_OF_WEEK, AIRLINE, FLIGHT_NUMBER, TAIL_NUMBER, ORIGIN_AIRPORT, DESTINATION_AIRPORT, SCHEDULED_DEPARTURE, DEPARTURE_TIME, DEPARTURE_DELAY, TAXI_OUT, WHEELS_OFF, SCHEDULED_TIME, ELAPSED_TIME, AIR_TIME, DISTANCE, WHEELS_ON, TAXI_IN, SCHEDULED_ARRIVAL, ARRIVAL_TIME, ARRIVAL_DELAY, DIVERTED, CANCELLED, CANCELLATION_REASON, AIR_SYSTEM_DELAY, SECURITY_DELAY, AIRLINE_DELAY, LATE_AIRCRAFT_DELAY, WEATHER_DELAY]
Index: []

[0 rows x 31 columns]

## Исправляем аэропорт вылета

In [28]:
# преобразуем все в значения в поле ORIGIN_AIRPORT в строку т.к. есть integer
fl_pd['ORIGIN_AIRPORT_s'] = fl_pd['ORIGIN_AIRPORT'].apply(lambda x: str(x))
# делаем левый join по ID аэропорта
flO_df = fl_pd.merge(cod_ap_df, how = 'left', left_on = 'ORIGIN_AIRPORT_s', right_on = 'Code_s')
# заполняем пустоты значениями из поля ORIGIN_AIRPORT
flO_df['ORIGIN_AIRPORT_'] = flO_df['IATA_CODE'].fillna(flO_df['ORIGIN_AIRPORT_s'])
flO_df = flO_df.drop(['ORIGIN_AIRPORT','ORIGIN_AIRPORT_s','Code_y','Code_s','IATA_CODE'],axis=1)
flO_df.shape

(5819079, 31)

In [29]:
flO_df['ORIGIN_AIRPORT_'].nunique()

322

In [30]:
flO_df.columns

Index(['YEAR', 'MONTH', 'DAY', 'DAY_OF_WEEK', 'AIRLINE', 'FLIGHT_NUMBER',
       'TAIL_NUMBER', 'DESTINATION_AIRPORT', 'SCHEDULED_DEPARTURE',
       'DEPARTURE_TIME', 'DEPARTURE_DELAY', 'TAXI_OUT', 'WHEELS_OFF',
       'SCHEDULED_TIME', 'ELAPSED_TIME', 'AIR_TIME', 'DISTANCE', 'WHEELS_ON',
       'TAXI_IN', 'SCHEDULED_ARRIVAL', 'ARRIVAL_TIME', 'ARRIVAL_DELAY',
       'DIVERTED', 'CANCELLED', 'CANCELLATION_REASON', 'AIR_SYSTEM_DELAY',
       'SECURITY_DELAY', 'AIRLINE_DELAY', 'LATE_AIRCRAFT_DELAY',
       'WEATHER_DELAY', 'ORIGIN_AIRPORT_'],
      dtype='object')

## Исправляем аэропорт прилета

In [31]:
# преобразуем все в значения в поле DESTINATION_AIRPORT в строку т.к. есть integer
flO_df['DESTINATION_AIRPORT_s'] = flO_df['DESTINATION_AIRPORT'].apply(lambda x: str(x))
# делаем левый join по ID аэропорта
fl_df = flO_df.merge(cod_ap_df, how = 'left', left_on = 'DESTINATION_AIRPORT_s', right_on = 'Code_s')
# заполняем пустоты значениями из поля DESTINATION_AIRPORT
fl_df['DESTINATION_AIRPORT_'] = fl_df['IATA_CODE'].fillna(fl_df['DESTINATION_AIRPORT_s'])
fl_df = fl_df.drop(['DESTINATION_AIRPORT','DESTINATION_AIRPORT_s','Code_y','Code_s','IATA_CODE'],axis=1)
fl_df.shape

(5819079, 31)

In [32]:
fl_df['DESTINATION_AIRPORT_'].nunique()

322

In [33]:
fl_df.columns

Index(['YEAR', 'MONTH', 'DAY', 'DAY_OF_WEEK', 'AIRLINE', 'FLIGHT_NUMBER',
       'TAIL_NUMBER', 'SCHEDULED_DEPARTURE', 'DEPARTURE_TIME',
       'DEPARTURE_DELAY', 'TAXI_OUT', 'WHEELS_OFF', 'SCHEDULED_TIME',
       'ELAPSED_TIME', 'AIR_TIME', 'DISTANCE', 'WHEELS_ON', 'TAXI_IN',
       'SCHEDULED_ARRIVAL', 'ARRIVAL_TIME', 'ARRIVAL_DELAY', 'DIVERTED',
       'CANCELLED', 'CANCELLATION_REASON', 'AIR_SYSTEM_DELAY',
       'SECURITY_DELAY', 'AIRLINE_DELAY', 'LATE_AIRCRAFT_DELAY',
       'WEATHER_DELAY', 'ORIGIN_AIRPORT_', 'DESTINATION_AIRPORT_'],
      dtype='object')

## Сохраняем исправления в файл

In [34]:
fl_df.to_csv(r'corrected_flights.v1.csv')

# Задание 1. Найти аэропорт с минимальной задержкой вылета

In [35]:
fl_df.sample(15)

,YEAR,MONTH,DAY,DAY_OF_WEEK,AIRLINE,FLIGHT_NUMBER,TAIL_NUMBER,SCHEDULED_DEPARTURE,DEPARTURE_TIME,DEPARTURE_DELAY,...,DIVERTED,CANCELLED,CANCELLATION_REASON,AIR_SYSTEM_DELAY,SECURITY_DELAY,AIRLINE_DELAY,LATE_AIRCRAFT_DELAY,WEATHER_DELAY,ORIGIN_AIRPORT_,DESTINATION_AIRPORT_
821492,2015,2,24,2,B6,917,N592JB,545,558.0,13.0,...,0,0,NaN,NaN,NaN,NaN,NaN,NaN,BOS,JFK
3103276,2015,7,13,1,UA,255,N806UA,2200,2241.0,41.0,...,0,0,NaN,0.0,0.0,37.0,0.0,0.0,DEN,IAH
246263,2015,1,16,5,US,2194,N965UW,2000,2006.0,6.0,...,0,0,NaN,66.0,0.0,0.0,0.0,0.0,DCA,LGA
187561,2015,1,13,2,OO,2587,N866AS,805,802.0,-3.0,...,0,0,NaN,NaN,NaN,NaN,NaN,NaN,LAX,TUS
5129433,2015,11,17,2,EV,4965,N740EV,942,939.0,-3.0,...,0,0,NaN,NaN,NaN,NaN,NaN,NaN,ATL,HPN
1721077,2015,4,20,1,AA,1156,N3DHAA,1655,1858.0,123.0,...,0,0,NaN,135.0,0.0,0.0,0.0,0.0,DFW,LGA
988926,2015,3,6,5,OO,4527,N803SK,1425,1418.0,-7.0,...,0,0,NaN,NaN,NaN,NaN,NaN,NaN,BOI,MSP
2882918,2015,6,30,2,UA,1660,N30913,1508,1508.0,0.0,...,0,0,NaN,43.0,0.0,0.0,0.0,0.0,DEN,IAH
2810402,2015,6,26,5,OO,7379,N8932C,820,816.0,-4.0,...,0,0,NaN,NaN,NaN,NaN,NaN,NaN,SLC,CDC
3654345,2015,8,15,6,DL,1385,N960AT,1342,1342.0,0.0,...,0,0,NaN,NaN,NaN,NaN,NaN,NaN,TVC,DTW
5151688,2015,11,18,3,EV,5970,N23139,1551,1859.0,188.0,...,0,0,NaN,4.0,0.0,0.0,188.0,0.0,ORD,BHM
1093762,2015,3,13,5,OO,4779,N675BR,525,520.0,-5.0,...,0,0,NaN,NaN,NaN,NaN,NaN,NaN,DIK,MSP
144778,2015,1,10,6,DL,2316,N831DN,850,848.0,-2.0,...,0,0,NaN,NaN,NaN,NaN,NaN,NaN,DTW,LAS
4631316,2015,10,16,5,DL,1439,N342NW,1215,1330.0,75.0,...,0,0,NaN,0.0,0.0,59.0,0.0,0.0,ATL,ORF
5518547,2015,12,12,6,AA,710,N273AY,1405,1417.0,12.0,...,0,0,NaN,NaN,NaN,NaN,NaN,NaN,MIA,PHL

In [36]:
# берем данные только по задержке рейса(не пустые) и аэропорт.
dd_fl_df = fl_df[(fl_df['DEPARTURE_DELAY'].notna())][['ORIGIN_AIRPORT_','DEPARTURE_DELAY']]

In [37]:

dd_fl_df.shape

(5732926, 2)

In [37]:
# считаем среднее время задержки по каждому аэропорту
mean_dd_fl_df = dd_fl_df.groupby(['ORIGIN_AIRPORT_']).mean().sort_values('DEPARTURE_DELAY')
mean_dd_fl_df
# mean_dd_fl_pd

                 DEPARTURE_DELAY
ORIGIN_AIRPORT_
YAK                    -6.070932
CNY                    -6.058537
EKO                    -3.933333
VEL                    -3.740000
CDV                    -3.454545
...                          ...
OTH                    18.969697
PPG                    20.844828
HYA                    23.182927
MVY                    24.685185
ILG                    29.391753

[322 rows x 1 columns]

## Аэропорт с минимальным временем задержки

In [39]:
# Аэропорт с минимальным временем задержки
ap_s = ap_pd[(ap_pd['IATA_CODE']==mean_dd_fl_df.index[0])].squeeze()
print(ap_s)
print(f'Среднее время задержки, мин: {mean_dd_fl_df.iloc[0].values}')

IATA_CODE                YAK
AIRPORT      Yakutat Airport
CITY                 Yakutat
STATE                     AK
COUNTRY                  USA
LATITUDE            59.50336
LONGITUDE         -139.66023
Name: 320, dtype: object
Среднее время задержки, мин: [-6.07093185]

## Вывод точки координат аэропорта на карту

In [40]:
str(ap_s[['AIRPORT','CITY','STATE']].to_dict())

"{'AIRPORT': 'Yakutat Airport', 'CITY': 'Yakutat', 'STATE': 'AK'}"

In [41]:
point = (ap_s['LATITUDE'],ap_s['LONGITUDE'])
m = Map(center=point, zoom=10)
marker = Marker(location=point)
info_box_template = """
<dl>
<dt>Airport: {AIRPORT}</dt>
<dt>City: {CITY}</dt>
<dt>State: {STATE}</dt>
</dl>
"""
locations_info  = info_box_template.format(**ap_s.to_dict())
marker.popup = HTML(locations_info)
# marker = Marker(location=point)
m.add_layer(marker)
m

Map(center=[59.50336, -139.66023], controls=(ZoomControl(options=['position', 'zoom_in_text', 'zoom_in_title',…

In [76]:
# смотрю аэропорты максичмальным и минимальным средним временем задержки
filter_list_a = ['YAK','ILG']
ap_pd[(ap_pd['IATA_CODE'].isin(filter_list_a))]

,IATA_CODE,AIRPORT,CITY,STATE,COUNTRY,LATITUDE,LONGITUDE
154,ILG,Wilmington Airport,Wilmington,DE,USA,39.67872,-75.60653
320,YAK,Yakutat Airport,Yakutat,AK,USA,59.50336,-139.66023

## Альтернативное решение(берем только положительные задержки, отрицательные значения это не задержки)

In [58]:
#Берем только рейсы с задержкой т.е. поле DEPARTURE_DELAY положительное
add_fl_df = dd_fl_df[(dd_fl_df.DEPARTURE_DELAY >0)].copy()

In [60]:
# add_fl_df['PDD'] = add_fl_df.DEPARTURE_DELAY.apply(lambda x: 0 if x<0 else x)
add_fl_df.shape

(2125618, 2)

In [61]:
# считаем среднее время задержки по каждому аэропорту
mean_add_fl_df = add_fl_df.groupby(['ORIGIN_AIRPORT_']).mean().sort_values('DEPARTURE_DELAY')
mean_add_fl_df

                 DEPARTURE_DELAY
ORIGIN_AIRPORT_
AKN                    13.800000
ITO                    16.546441
DLG                    20.960000
HNL                    21.938511
OGG                    22.308209
...                          ...
BJI                    78.000000
INL                    86.164706
PLN                    89.220339
ESC                    95.648649
VEL                   133.600000

[322 rows x 1 columns]

In [71]:
# Аэропорт с минимальным временем задержки
aap_s = ap_pd[(ap_pd['IATA_CODE']==mean_add_fl_df.index[0])].squeeze()
# Вывод информации
print(aap_s)
print(f'Среднее время задержки, мин: {mean_add_fl_df.iloc[0].values}')
# Вывод карты
str(aap_s[['AIRPORT','CITY','STATE']].to_dict())
apoint = (aap_s['LATITUDE'],aap_s['LONGITUDE'])
am = Map(center=apoint, zoom=12)
amarker = Marker(location=apoint)
am.add_layer(amarker)
am

IATA_CODE                    AKN
AIRPORT      King Salmon Airport
CITY                 King Salmon
STATE                         AK
COUNTRY                      USA
LATITUDE                 58.6768
LONGITUDE             -156.64922
Name: 13, dtype: object
Среднее время задержки, мин: [13.8]

Map(center=[58.6768, -156.64922], controls=(ZoomControl(options=['position', 'zoom_in_text', 'zoom_in_title', …

# Задание 2. Самая пунктуальная авиакомпания на прилет в Los Angeles International Airport

In [97]:
# код Los Angeles International Airport
ap_code = ap_pd[(ap_pd['AIRPORT']=='Los Angeles International Airport')].IATA_CODE.iloc[0]
ap_code

'LAX'

In [151]:
# берем только данные по нужному аэропорту и стобцы: авиакомпания, время задержки прилёта.
lax_fl_df = fl_df[(fl_df['DESTINATION_AIRPORT_']==ap_code)][['AIRLINE','ARRIVAL_DELAY']]
# убираем строки с отсутствующими значениями 
lax_fl_df = lax_fl_df[(lax_fl_df['ARRIVAL_DELAY'].notna())]
# lax_fl_df.shape
# время задержки берем по модулю, т.к. пунктуальность это прибытьие точно в срок без опозданий и раньше времени
lax_fl_df['ABS_ARRIVAL_DELAY'] = lax_fl_df['ARRIVAL_DELAY'].apply(lambda x: abs(x))
lax_fl_df.head()

    AIRLINE  ARRIVAL_DELAY  ABS_ARRIVAL_DELAY
101      OO            0.0                0.0
103      OO          -16.0               16.0
129      OO           56.0               56.0
156      UA            4.0                4.0
195      UA          -11.0               11.0

In [148]:
mean_lax_fd_df = lax_fl_df.groupby('AIRLINE').mean().sort_values('ABS_ARRIVAL_DELAY')
al_code=mean_lax_fd_df[(mean_lax_fd_df['ABS_ARRIVAL_DELAY']==mean_lax_fd_df['ABS_ARRIVAL_DELAY'].min())].index[0]
# type(al_code)
al_pd[(al_pd['IATA_CODE']==al_code)]

  IATA_CODE               AIRLINE
6        AS  Alaska Airlines Inc.

# Задание 3. Найти аэропорт, где самолёты проводят больше всего времени на рулении (среднее значение)

In [106]:
# "Время на руление" указано в двух столбцах. Это TAXI_OUT(руление перед вылетом,
# соотвественно аэропорт указан в ORIGIN_AIRPORT_) и TAXI_IN (руление после посадки,
# соответственно аэропорт в DESTINATION_AIRPORT_)
# taxi_out
taxi_out_fl_df = fl_df[['ORIGIN_AIRPORT_','TAXI_OUT']]
taxi_out_fl_df = taxi_out_fl_df.rename(columns={'ORIGIN_AIRPORT_':'AIRPORT','TAXI_OUT':'TAXI'})
# taxi_in
taxi_in_fl_df  = fl_df[['DESTINATION_AIRPORT_','TAXI_IN']]
taxi_in_fl_df = taxi_in_fl_df.rename(columns={'DESTINATION_AIRPORT_':'AIRPORT','TAXI_IN':'TAXI'})

In [107]:
taxi_df = pd.concat([taxi_out_fl_df,taxi_in_fl_df])
taxi_df.shape

(11638158, 2)

In [108]:
# вычисляем среднее время руления по каждому аэропорту
avg_taxi_df = taxi_df.groupby('AIRPORT', dropna=True).mean().sort_values(by='TAXI')
avg_taxi_df

              TAXI
AIRPORT
CNY       4.626829
VEL       4.761905
ADQ       4.964516
BET       5.463453
DLG       5.584416
...            ...
CLT      14.645538
EWR      14.879636
ORD      16.365225
JFK      17.745088
LGA      17.788691

[322 rows x 1 columns]

In [109]:
# посмотрим аэропорты с минимальным и максимльными значениями
filter_ = ['CNY','LGA']
ap_pd[(ap_pd['IATA_CODE'].isin(filter_))]

,IATA_CODE,AIRPORT,CITY,STATE,COUNTRY,LATITUDE,LONGITUDE
70,CNY,Canyonlands Field,Moab,UT,USA,38.75496,-109.75484
182,LGA,LaGuardia Airport (Marine Air Terminal),New York,NY,USA,40.77724,-73.87261

In [111]:
# Находим аэропорт с максимальным средним значением времени затрачиваемого на руление
filter_s = avg_taxi_df[(avg_taxi_df['TAXI'] == avg_taxi_df['TAXI'].max())]
ap_maxTaxi_s = ap_pd[(ap_pd['IATA_CODE'].isin(filter_s.index))].squeeze()
# Вывод информации
print(ap_maxTaxi_s)
print(f'Среднее время рулежки, мин: {avg_taxi_df.TAXI.max()}')
# Вывод карты
str(ap_maxTaxi_s[['AIRPORT','CITY','STATE']].to_dict())
point = (ap_maxTaxi_s['LATITUDE'],ap_maxTaxi_s['LONGITUDE'])
m = Map(center=point, zoom=12)
marker = Marker(location=point)
m.add_layer(marker)
m

IATA_CODE                                        LGA
AIRPORT      LaGuardia Airport (Marine Air Terminal)
CITY                                        New York
STATE                                             NY
COUNTRY                                          USA
LATITUDE                                    40.77724
LONGITUDE                                  -73.87261
Name: 182, dtype: object
Среднее время рулежки, мин: 17.788690735102218

Map(center=[40.77724, -73.87261], controls=(ZoomControl(options=['position', 'zoom_in_text', 'zoom_in_title', …

# Модель которая будет выбирать топ 3 аэропорта прилета (вероятность опоздания минимальная – RMSE метрика),  в зависимости от аэропорта вылета

In [74]:
ar_d_df = fl_df[['ORIGIN_AIRPORT_','DESTINATION_AIRPORT_', 'ARRIVAL_DELAY']]
ar_d_df.shape

(5819079, 3)

In [75]:
# удалям пустые значения ARRIVAL_DELAY
ar_d_df = ar_d_df.dropna()

In [76]:
# добавляем столбец
ar_d_df['DELAY'] = ar_d_df.ARRIVAL_DELAY.apply(lambda x: 1 if x>0 else 0)

In [77]:
ar_d_df.sample(10)

        ORIGIN_AIRPORT_ DESTINATION_AIRPORT_  ARRIVAL_DELAY  DELAY
4651565             STL                  EWR          -10.0      0
5255346             TPA                  ATL          -16.0      0
69280               JFK                  MCO           17.0      1
2699605             LAX                  DFW           -1.0      0
2410173             DFW                  CID          -10.0      0
403978              ABI                  DFW          -13.0      0
4220469             OGG                  KOA           18.0      1
391174              ORD                  EVV           85.0      1
3263291             TVC                  ORD          -20.0      0
2147007             OAK                  LAS            2.0      1

## смотрим вероятность опоздания для конкретного аэропорта

In [94]:
dtw_ar_d_df= ar_d_df[(ar_d_df.ORIGIN_AIRPORT_ == 'FLL')]

In [95]:
gr_dtw_ar_d_df = dtw_ar_d_df.groupby(['DESTINATION_AIRPORT_'])['DELAY'].agg(['count', 'mean', 'std'])

In [104]:
gr_dtw_ar_d_df[(gr_dtw_ar_d_df['count']>25)].sort_values('mean')

                      count      mean       std
DESTINATION_AIRPORT_
IND                     307  0.172638  0.378551
MCI                     326  0.199387  0.400153
HOU                     738  0.204607  0.403688
MKE                     365  0.216438  0.412382
STL                     516  0.217054  0.412640
DAL                     942  0.217622  0.412848
ALB                     343  0.221574  0.415913
MSY                     991  0.234107  0.423653
ATL                    8037  0.261292  0.439366
MDW                    1193  0.264040  0.441006
BNA                     826  0.265133  0.441672
PHX                     702  0.270655  0.444615
IAH                    2012  0.274851  0.446550
DTW                    2863  0.279078  0.448624
TTN                     242  0.289256  0.454357
CLT                    2630  0.290494  0.454077
CVG                     515  0.293204  0.455674
DEN                    1267  0.294396  0.455951
LBE                     286  0.297203  0.457828
CHS                      43  0.302326  0.464701
BWI                    4203  0.302403  0.459354
BUF                     618  0.305825  0.461129
DFW                    2892  0.313278  0.463907
SFO                    1354  0.319055  0.466282
TPA                    2085  0.319424  0.466366
LAS                    1155  0.319481  0.466477
CMH                     311  0.327974  0.470232
PVD                     831  0.328520  0.469958
MYR                     400  0.332500  0.471699
CLE                     893  0.335946  0.472585
HPN                     712  0.337079  0.473044
AUS                     840  0.338095  0.473343
EWR                    3638  0.339747  0.473688
MSP                     634  0.340694  0.474317
JAX                     784  0.345663  0.475888
PIT                     794  0.353904  0.478481
ORD                    2666  0.362716  0.480874
ORH                     348  0.364943  0.482107
DCA                    2638  0.365807  0.481747
RDU                     654  0.383792  0.486680
PHL                    2002  0.385614  0.486862
JFK                    4655  0.387970  0.487340
ISP                     575  0.389565  0.488076
LAX                    1891  0.406134  0.491240
SJU                    2992  0.413436  0.492532
MCO                     729  0.419753  0.493857
LGA                    5611  0.423276  0.494122
BDL                     999  0.424424  0.494503
SEA                     364  0.439560  0.497017
STT                     316  0.443038  0.497533
BOS                    2301  0.458062  0.498346
ACY                     869  0.464902  0.499054
SWF                     363  0.468320  0.499684
IAG                     207  0.502415  0.501206
RIC                     360  0.527778  0.499923
PBG                     243  0.592593  0.492366
BQN                     176  0.619318  0.486940
IAD                      79  0.683544  0.468065

In [96]:
t_df=gr_dtw_ar_d_df.sort_values('mean').head(3).reset_index()

In [97]:
t_df['ORIGIN_AIRPORT']='FLL'
t_df

  DESTINATION_AIRPORT_  count      mean       std ORIGIN_AIRPORT
0                  IND    307  0.172638  0.378551            FLL
1                  MCI    326  0.199387  0.400153            FLL
2                  HOU    738  0.204607  0.403688            FLL

In [93]:
t_df.reset_index()

  DESTINATION_AIRPORT_  count      mean       std ORIGIN_AIRPORT
0                  IND    307  0.172638  0.378551            FLL
1                  MCI    326  0.199387  0.400153            FLL
2                  HOU    738  0.204607  0.403688            FLL

In [81]:
fl_df[(fl_df.ORIGIN_AIRPORT_=='DTW')&(fl_df.DESTINATION_AIRPORT_ == 'CRW')].squeeze()

YEAR                      2015
MONTH                       11
DAY                         29
DAY_OF_WEEK                  7
AIRLINE                     EV
FLIGHT_NUMBER             5481
TAIL_NUMBER             N852AS
SCHEDULED_DEPARTURE       1155
DEPARTURE_TIME          1153.0
DEPARTURE_DELAY           -2.0
TAXI_OUT                  18.0
WHEELS_OFF              1211.0
SCHEDULED_TIME            75.0
ELAPSED_TIME              77.0
AIR_TIME                  54.0
DISTANCE                   281
WHEELS_ON               1305.0
TAXI_IN                    5.0
SCHEDULED_ARRIVAL         1310
ARRIVAL_TIME            1310.0
ARRIVAL_DELAY              0.0
DIVERTED                     0
CANCELLED                    0
CANCELLATION_REASON        NaN
AIR_SYSTEM_DELAY           NaN
SECURITY_DELAY             NaN
AIRLINE_DELAY              NaN
LATE_AIRCRAFT_DELAY        NaN
WEATHER_DELAY              NaN
ORIGIN_AIRPORT_            DTW
DESTINATION_AIRPORT_       CRW
Name: 5312234, dtype: object

## Решение простым перебором

In [105]:
%%time
svod_dd_df = pd.DataFrame.from_dict({'DESTINATION_AIRPORT_':[],'count':[],'mean':[],'ORIGIN_AIRPORT_':[]})

for index, data in ap_pd.IATA_CODE.items():
    tmp_ar_d_df= ar_d_df[(ar_d_df.ORIGIN_AIRPORT_ == data)]
    gr_tmp_ar_d_df = tmp_ar_d_df.groupby(['DESTINATION_AIRPORT_'])['DELAY'].agg(['count', 'mean'])
    tmp_df = gr_tmp_ar_d_df[(gr_tmp_ar_d_df['count']>25)].sort_values('mean').head(3).reset_index()
    tmp_df['ORIGIN_AIRPORT_']=data
    svod_dd_df = pd.concat([svod_dd_df, tmp_df], ignore_index=True)
svod_dd_df.to_excel('summary_data_dd.xlsx')

CPU times: total: 3min 1s
Wall time: 3min 6s